language: java

jdk:
  - openjdk8
services:
  - docker

stages:
  - build-maven-project
  - test
  - name: build-and-push-docker-registry
    if: branch IN (staging, production)
  - name: build-and-push-heroku-registry
    if: branch IN (staging, production)
  - name: deploy
    if: branch IN (staging, production)

before_install:
  - echo "$DOCKER_PASSWORD" | docker login  -u "$DOCKER_USERNAME" --password-stdin
  - docker pull openjdk:8-jdk-alpine
  - wget -qO- https://toolbelt.heroku.com/install.sh | sh
  - echo "$HEROKU_PASSWORD" | docker login -u "$HEROKU_USERNAME" --password-stdin registry.heroku.com

jobs:
  include:
  - stage: build-maven-project
    script:
    - chmod +x ./mvnw &&
      ./mvnw clean package
  - stage: test
    script:
    - echo "run any test in staging stage if you need"
  - stage: build-and-push-docker-registry
    script:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
    - docker build -t hybrid_db .
    - docker images
    - docker tag hybrid_db $DOCKER_USERNAME/hybrid_db:$TRAVIS_BRANCH
    - docker push $DOCKER_USERNAME/hybrid_db:$TRAVIS_BRANCH
  - stage: build-and-push-heroku-registry
    script:
    - docker images
    - docker tag hybrid_db registry.heroku.com/$HEROKU_APP_NAME/web-$TRAVIS_BRANCH
    - docker push registry.heroku.com/$HEROKU_APP_NAME/web-$TRAVIS_BRANCH
  - stage: deploy
    #script: heroku container:release web --app $HEROKU_APP_NAME-staging
    deploy:
      provider: heroku
      app: $HEROKU_APP_NAME-$TRAVIS_BRANCH
      api_key: $HEROKU_AUTH_TOKEN